extends layout

block content
  .book-list
    img(src='https://images-na.ssl-images-amazon.com/images/I/5160yLwNOZL._AC_US218_.jpg', style='width: 100%;')
    h3 $51
    a(href='/books/1') Check

  .book-list
    img(src='https://images-na.ssl-images-amazon.com/images/I/51iyn7kz0uL._AC_US218_.jpg', style='width: 100%;')
    h3 $49
    a(href='/books/2') Check
